<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
  
  <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/images/favicon-96x96.png" | relative_url }}" type="image/png" sizes="96x96">
  <link rel="apple-touch-icon" href="{{ "/assets/images/favicon-120x120.png" | relative_url }}" sizes="120x120">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- if page.title -%}
    <title>{{ page.title }} - {{ site.title }}</title>
  {%- else -%}
  <title>{{ site.title }}</title>
  {%- endif -%}

</head>