<!-- This site was last updated at {{ site.time | date: "%Y-%m-%d %H:%M" }} -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="icon" href="{{ "/assets/images/favicon-96x96.png" | relative_url }}" type="image/png" sizes="96x96">
  <link rel="apple-touch-icon" href="{{ "/assets/images/favicon-120x120.png" | relative_url }}" sizes="120x120">

  <meta property="og:title" content="{{ site.title }}: {{ site.description }}">
  <meta property="og:description" content="{{ site.description_long }}">
  <meta property="og:image" content="{{ "/assets/images/socialmedia-banner.png" | absolute_url }}">
  <meta property="og:url" content="{{ "/index.html" | absolute_url }}">

  <meta name="twitter:title" content="{{ site.title }}: {{ site.description }}">
  <meta name="twitter:description" content="{{ site.description_long }}">
  <meta name="twitter:image" content="{{ "/assets/images/socialmedia-banner.png" | absolute_url }}">
  <meta name="twitter:card" content="summary_large_image">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" async>
  <link rel="stylesheet" href="{{ "/assets/css/lineup.css" | relative_url }}" async>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- if page.title -%}
    <title>{{ page.title }} - {{ site.title }}</title>
  {%- else -%}
  <title>{{ site.title }}</title>
  {%- endif -%}

  {% include js-tags.html %}
  {% include analytics.html %}
</head>