<script type="text/javascript" src="{{ "/assets/js/mithril.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vega.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vega-lite.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/vega-embed.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/d3-fetch.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/lineup.js" | relative_url }}"></script>