---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Inter", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #edece8 !default;
$brand-color:      #3170AD !default;

$blue-color: #3170AD;
$blue-color-light: #BFD4E7; 

$black-color: #000000;
$black-color-light: #424242;

$white-color: #FFFFFF;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-border-color: #ABA7A7;

$table-text-align: left !default;

// Width of the content area
$content-width:    1100px !default;

$on-palm:          600px !default;
$on-laptop:        1100px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin vega-right-offset($right-offset) {
    width: -webkit-calc(100% - (#{$right-offset}px));
    width:         calc(100% - (#{$right-offset}px));

    /*@include media-query($on-palm) {
      width: -webkit-calc(200% - (#{$right-offset}px));
      width:         calc(200% - (#{$right-offset}px));
      transform: scale(0.5) translate(-50%, -50%);
    }*/

    @include media-query($on-palm) {
      width: -webkit-calc(200% - (#{$right-offset}px));
      width:         calc(200% - (#{$right-offset}px));
    }

    summary {
      right: #{- $right-offset + 50}px;
    }

    .vega-actions {
      right: #{ - $right-offset + 50 - 9}px;
    }
}



// Base (from minima)

/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
   margin: 0;
   padding: 0;
 }
 
 
 
 /**
  * Basic styling
  */
 body {
   font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
   color: $text-color;
   background-color: $background-color;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
           font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 
 
 
 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
   margin-bottom: $spacing-unit / 2;
 }
 
 
 
 /**
  * `main` element
  */
 main {
   display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
 }
 
 
 
 /**
  * Images
  */
 img {
   max-width: 100%;
   vertical-align: middle;
 }
 
 
 
 /**
  * Figures
  */
 figure > img {
   display: block;
 }
 
 figcaption {
   font-size: $small-font-size;
 }
 
 
 
 /**
  * Lists
  */
 ul, ol {
   margin-left: $spacing-unit;
 }
 
 li {
   > ul,
   > ol {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Headings
  */
 h1, h2, h3, h4, h5, h6 {
   font-weight: $base-font-weight;
 }
 
 
 
 /**
  * Links
  */
 a {
   color: $brand-color;
   text-decoration: none;
 
   &:visited {
     color: darken($brand-color, 15%);
   }
 
   &:hover {
     color: $text-color;
     text-decoration: underline;
   }
 
   .social-media-list &:hover {
     text-decoration: none;
 
     .username {
       text-decoration: underline;
     }
   }
 }
 
 
 /**
  * Blockquotes
  */
 blockquote {
   color: $grey-color;
   border-left: 4px solid $grey-color-light;
   padding-left: $spacing-unit / 2;
   @include relative-font-size(1.125);
   letter-spacing: -1px;
   font-style: italic;
 
   > :last-child {
     margin-bottom: 0;
   }
 }
 
 
 
 /**
  * Code formatting
  */
 pre,
 code {
   @include relative-font-size(0.9375);
   border: 1px solid $grey-color-light;
   border-radius: 3px;
   background-color: #eef;
 }
 
 code {
   padding: 1px 5px;
 }
 
 pre {
   padding: 8px 12px;
   overflow-x: auto;
 
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }
 
 
 
 /**
  * Wrapper
  */
 .wrapper {
   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
   margin-right: auto;
   margin-left: auto;
   padding-right: $spacing-unit;
   padding-left: $spacing-unit;
   @extend %clearfix;
 
   @include media-query($on-laptop) {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     padding-right: $spacing-unit / 2;
     padding-left: $spacing-unit / 2;
   }
 }
 
 
 
 /**
  * Clearfix
  */
 %clearfix:after {
   content: "";
   display: table;
   clear: both;
 }
 
 
 
 /**
  * Icons
  */
 
 .svg-icon {
     width: 16px;
     height: 16px;
     display: inline-block;
     fill: #{$grey-color};
     padding-right: 5px;
     vertical-align: text-top;
 }
 
 .social-media-list {
   li + li {
     padding-top: 5px;
   }
 }
 
 
 
 /**
  * Tables
  */
 table {
   margin-bottom: $spacing-unit;
   width: 100%;
   text-align: $table-text-align;
   color: lighten($text-color, 18%);
   border-collapse: collapse;
   border: 1px solid $grey-color-light;
   tr {
     &:nth-child(even) {
       background-color: lighten($grey-color-light, 6%);
     }
   }
   th, td {
     padding: ($spacing-unit / 3) ($spacing-unit / 2);
   }
   th {
     background-color: lighten($grey-color-light, 3%);
     border: 1px solid darken($grey-color-light, 4%);
     border-bottom-color: darken($grey-color-light, 12%);
   }
   td {
     border: 1px solid $grey-color-light;
   }
 }

// Layout (from minima)

/**
 * Site header
 */
 .site-header {
  border-top: 0px solid $grey-color-dark;
  border-bottom: 0px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  padding-top: 30px;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $brand-color;
  }

  &:hover {
    text-decoration: none;
  }

  svg {
    width: 100px;
    margin-top: 10px;
    margin-left: -22px;

    @include media-query($on-laptop) {
      margin-left: 0;
    }
  }
}

.site-subtitle {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $brand-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $table-border-color;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 0px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: lighten($black-color-light, 10%);
  @extend %clearfix;

  border-top: 2px solid $brand-color;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: 0;
  margin-top: 20px;
}

.footer-col-1 {
    width: 60%;
    p {
        font-size: 13px;
    }
}

.footer-col-2 {
  width: 30%;

  a {
    float: right;
    margin: 0 5px;
  }
}

.footer-col-3 {
  width: 10%;
  position: relative;
  svg {
    position: absolute;
    right: 0;
    top: 3px;
    width: 40px;
  }
}

@include media-query($on-palm) {
  .footer-col {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }

  .footer-col-1 {
    float: none;
  }

  .footer-col-3 {
    margin-top: 60px;
    float: none;
  }

  .footer-col-2 {
    margin-top: 60px;
    float: none;
    a {
      float: left;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding-bottom: $spacing-unit;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  flex: 1;

  .wrapper.wrapper-wide {
    max-width: none;
  }
}

.page-heading {
  @include relative-font-size(1.75);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.75);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-weight: 300;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * CovidClinical custom styles.
 */
table.members {
  tbody td li {
    list-style-type: none;

    &:not(:last-child)::after {
      content: " / ";
    }
  }
  tbody tr.cluster {
    background-color: #f7f7f7;
  }
  tbody tr:not(.cluster) {
    background-color: $background-color;
    td {
      padding: 5px 15px;
    }
  }
  tbody td.cluster-space {
    border-right: none;
  }
  tbody td.member-name {
    border-left: none;
  }

    thead tr {
        th {
            border-top: 1px solid $table-border-color;
        }
        th:first-child {
            border-left: 1px solid $table-border-color;
        }
        th:last-child {
            border-right: 1px solid $table-border-color;
        }
    }

    tbody {
        tr {
            td {
              border-bottom: 1px solid lighten($table-border-color, 15%);
            }
            td:first-child {
                border-left: 1px solid $table-border-color;
            }
            td:last-child {
                border-right: 1px solid $table-border-color;
            }
        }
        tr:last-child {
            td {
                border-bottom: 1px solid $table-border-color;
            }
        }
    }
  
 

    @include media-query($on-palm) {
        font-size: 12px;
        thead tr th, tbody tr td.cluster, tbody tr td:not(.cluster) {
            padding: 2px 4px;
        }
    }
}

.home-page {
  a {
      color: $black-color;
      text-decoration: underline;

      &:visited {
          color: $black-color;
      }
  }

  .box {
    margin-bottom: 30px;

    h3 {
      font-weight: 600;
      font-size: 16px;
      color: $black-color-light;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      color: $black-color-light;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.main p {
      font-size: 16px;
    }

    &.important {
      padding: 20px 20px;
      background-color: $blue-color;
      h3 {
        color: $blue-color-light;
      }
      p {
        color: $white-color;
      }
    }
  }
}

.plot-page {
  .paper-info {
    margin-top: 20px;
    a {
      color: $black-color-light;
      text-decoration: underline;

      &:hover {
        color: $black-color;
      }
    }
  }
  p {
    font-weight: 300;
  }
}


.plot-page-container {
  margin-top: 40px;
  margin-bottom: 50px;
  .title {
    font-weight: 600;
    color: $black-color-light;
  }

  .subtitle {
    font-weight: 600;
    color: $brand-color;
    font-size: 14px;
  }

  .tabs {
    border-bottom: 1px solid $grey-color;
    display: inline-block;

    .tab {
      cursor: pointer;
      display: inline;
      float: left;
      border: 1px solid $grey-color;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 0;
      background-color: #fff;
      margin: 0 4px;
      padding: 2px 4px;

      &.active {
        background-color: $blue-color-light;
      }

      &:not(.active):hover {
        background-color: #f7f7f7;
      }
    }
  }

  .inner {
    position: relative;
    border-top: 4px solid $blue-color-light;
    border-bottom: 4px solid $blue-color-light;
    background-color: $white-color;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
    font-weight: 300;

    .tab-content {
      margin-top: 10px;
    }

    .plot-list {

      @include media-query($on-palm) {
        overflow-x: scroll;
      }

      .vega-plot-container {
        overflow-x: scroll;
        margin-bottom: 20px;
        padding-bottom: 20px;

        @include media-query($on-palm) {
          overflow-x: visible;
          transform: scale(0.5) translate(-50%, -50%);
          height: 360px;
        }

        .plot-item {

          @include vega-right-offset(38);

          .vega-bind {
            margin-left: 20px;
            background-color: $blue-color-light;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            margin-top: 5px;

            @include media-query($on-palm) {
              margin-top: 50px;
              transform: scale(2) translate(25%, 0);
            }

            .vega-bind-name {
              font-weight: 400;
            }
            select {
              margin-left: 5px;

              font-weight: 400;
            }
          }

          &#vega_plot_labs_lab-values-by-country_json,
          &#vega_plot_labs_lab-values-by-site_json,
          &#vega_plot_labs_lab-values_json,
          &#vega_plot_daily-count_daily-counts-by-country_json,
          &#vega_plot_daily-count_cumulative-daily-counts-by-country_json,
          &#vega_plot_daily-count_daily-counts-by-site_json,
          &#vega_plot_daily-count_cumulative-daily-counts-by-site_json {
            @include vega-right-offset(260);
          }
        }
      }

      .lineup-plot-container {
        .plot-item {
          width: 100%;
          height: 500px;
        }
      }
    }

    .description {
      margin-top: 20px;
      font-style: italic;
    }
  }

  .top-actions {
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 100%;

    a, button {
      cursor: pointer;
      font-size: 14px;
      color: $blue-color;
      border: 0;
      margin-left: 5px;
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 2px;
      padding: 0 4px;
      display: inline-block;
      float: right;
      white-space: nowrap;

      height: 22px;
      line-height: 22px;

      &:hover {
        text-decoration: underline;
        color: $blue-color;
      }
    }
  }

  @include media-query($on-laptop) {
    #expand-width {
      display: none;
    }
  }
}

.data-page {
  .release-container {
    .category-card-container {
      columns: 2;
      column-gap: 1rem;


      .category-card {
        
        box-sizing: border-box;
        background: white;
        width: 100%;
        display: inline-block;
        border-radius: 5px;
        padding: 10px 10px;
        margin-bottom: 20px;

        .category-name {
          border-bottom: 1px solid lighten($table-border-color, 25%);
        }

        .category-plots {
          a {
            color: $brand-color;
          }
        }

        

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include media-query($on-palm) {
      .category-card-container {
        columns: 1;
      }
    }
  }
}
