---
layout: page
title: Data
permalink: /data/index.html
order: 20
---

<div class="page data-page">
        
        {% for release in site.data.releases %}
        <div class="release-container">
            <p class="release-name">{{ release.name }}</p>
            <div class="category-card-container">

                {% assign plots_by_category = site.plots | where: "release", release.key | group_by: 'category' %}
                {% for plot_category in plots_by_category %}
                    <div class="category-card">
                        <h3 class="category-name">{{ plot_category.name }}</h3>
                        <div class="category-plots">
                            {% assign plot_category_items = plot_category.items | sort: "order" %}
                            {% for plot in plot_category_items %}
                                <a href="{{ plot.url | relative_url }}">{{ plot.title }}</a>
                                <h5>{{ plot.subtitle }}</h5>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        {%  endfor %}

   

</div>