---
layout: page
title: Members
permalink: /members/index.html
---

<div>
    <table class="members">
        <thead>
            <tr>
                <th>Cluster</th>
                <th>Name</th>
                <th>Affiliations</th>
            </tr>
        </thead>
        <tbody>
            {% assign clusters = site.data.members | sort: "cluster" %}
            {% for cluster in clusters %}
                <tr class="cluster">
                    <td colspan="3">
                        {{ cluster.cluster }}, {{ cluster.location }}
                    </td>
                </tr>
                {% for member in cluster.members %}
                    <tr>
                        <td class="cluster-space"></td>
                        <td class="member-name">
                            {{ member.name }}
                        </td>
                        <td>
                            {% for institution in member.affiliations %}
                                <li>{{ institution }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
