---
layout: default
---

<div class="page publication-page">
  <h1 class="page-heading">{{ page.title }}</h1>

  <p class="post-meta">
    <a class="post-news-back" href="{{ "/data/index.html" | relative_url }}">&larr;&nbsp;Data</a>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {{ page.date | date: date_format }}
  </time>
  {%- if page.modified_date -%}
    ~ 
    {%- assign mdate = page.modified_date | date_to_xmlschema -%}
    <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
      {{ mdate | date: date_format }}
    </time>
  {%- endif -%}
  {%- if page.author -%}
    • {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}
  {%- endif -%}</p>

  {{ content }}

</div>